<html >

  <head>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </head>

  <div id="app" class="container">
    <div class="row">
      <div class="col-sm"> </div>
      <div class="col-sm ">
          <div class="card align-middle" >
          
          <p class="mx-auto"> ตั้งค่าเป้าหมาย </p>
            <div>
              <p class="form-group mx-auto">
                <input v-model="name_goal" class="form-control form-control-sm" placeholder="ชื่อเป้าหมาย">
                <input v-model="val_goal" class="form-control form-control-sm" placeholder="จำนวนเงินที่ต้องการออม(บาท)">
              </p>
            <p class="mx-auto"> <button @click="Set_goal" type="button" class="btn btn-primary">เพิ่มเป้าหมาย</button></p>
            </div>

            <div>
              <form v-for="sub_goal in list_goal">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{sub_goal.name_goal}}</span>
                  </div>
                  <label type="text" class="form-control" > {{sub_goal.val_goal}} บาท </label>
                </div>
              </form>
            </div>
        </div>

      </div>
      <div class="col-sm"></div>
    </div>
  </div>
<!--
  <div id="app">
    {{ message }}
  </div>
-->
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name_goal:null,
        val_goal: null,
        list_goal :[
        { //mock data must set list_goal to be NULL
          name_goal:"รักเธอ",
          val_goal:500
        },
        ]
      },
      methods:{
        Set_goal(){
          //use this.val_goal
          //add to db
          alert('test');
        },
        Show_List(){
          // add to list_goal
        }
      }
    });


  </script>
</html>